.Day {
  font-size: 24px;
}

.Day__day {
  display: inline-block;
  margin-left: 0.5em;
}

.Day__icon {
  display: inline-block;
  margin-left: 0.5em;
}

.Day__tempMax {
  display: inline-block;
  margin-left: 0.5em;
  color: #666;
}

.Day__tempMin {
  display: inline-block;
  margin-left: 0.5em;
  color: #999;
}
